<footer class="footer mt-auto py-2 bg-light">
    <div class="container">
        <span class="text-muted">&copy; {{ date('now')|date('Y') }} {{ 'params.application.copyright'|trans }}</span>
    </div>
</footer>