<div class="modal" {{ attributes.defaults(stimulus_controller('enabel/ux/modal')) }}{% if app.request.attributes.has('_modal') %} data-modal-background-uri="{{ app.request.attributes.get('_modal').backgroundUri }}"{% endif %}>
    {% if app.request.attributes.has('_modal') %}{{ app.request.attributes.get('_modal').content | raw }}{% endif %}
</div>
