<div class="modal" {{ attributes.defaults(stimulus_controller('enabel/ux/modal')) }}{% if app.request.attributes.has('_enabel_ux_modal') %} data-modal-background-uri="{{ app.request.attributes.get('_enabel_ux_modal').backgroundUri }}"{% endif %}>
    {% if app.request.attributes.has('_enabel_ux_modal') %}{{ app.request.attributes.get('_enabel_ux_modal').content | raw }}{% endif %}
</div>
