<div {{ attributes.defaults(stimulus_controller('enabel/ux/modal')) }}{% if app.request.attributes.has('_modal') %} data-background="{{ app.request.attributes.get('_modal').background }}"{% endif %}>
    {% if app.request.attributes.has('_modal') %}{{ app.request.attributes.get('_modal').content | raw }}{% endif %}
</div>
